# Temporary setup resources
config/01-mgmt-cluster/clusteroperators.yaml
config/01-mgmt-cluster/*.pem
config/02-active-cluster/cluster-service-account.jwk
config/02-active-cluster/controlplane-secrets.yaml
config/02-active-cluster/controlplane.yaml
config/03-standby-cluster/cluster-service-account.jwk
config/03-standby-cluster/controlplane-secrets.yaml
config/03-standby-cluster/controlplane.yaml
config/04-ubuntu-vm/*.iso
config/04-ubuntu-vm/*.ova
