{
  "scenario": "main",
  "topology": "tsb-training",
  "tsb": {
    "install_method": "tctl",
    "istio_version": "1.22.6",
    "tetrate_repo": {
      "password": "",
      "user": ""
    },
    "version": "1.12.0"
  }
}