{
  "scenario": "abc-vm",
  "topology": "vm-only",
  "tsb": {
    "install_method": "tctl",
    "istio_version": "1.17.8",
    "tetrate_repo": {
      "password": "********",
      "user": "********"
    },
    "version": "1.7.2"
  }
}