{
  "scenario": "abc-hybrid",
  "topology": "vm-expansion",
  "tsb": {
    "install_method": "tctl",
    "istio_version": "1.17.8",
    "tetrate_repo": {
      "password": "********",
      "user": "********"
    },
    "version": "1.7.2",
    "version_upgrade_target": ""
  }
}