name: Create GCP VM

on:
  workflow_dispatch:
  push:
    branches:
      - 'deploy-*'
    tags:
      - 'v*'

jobs:
  create-vm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Load deploy.env
        id: envs
        run: |
          eval $(yq e '. | to_entries | .[] | "echo \(.key)=\(.value);"' github-deploy.yaml) >> $GITHUB_ENV

      - name: Install Ansible
        run: |
          sudo apt-get update
          sudo apt-get install -y ansible
          ansible --version
          ansible-galaxy collection install google.cloud

      - name: Save SSH key for ansible
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GCP_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          echo -e "Host *\n\tStrictHostKeyChecking no\n\tUserKnownHostsFile=/dev/null" > ~/.ssh/config
          chmod 600 ~/.ssh/config

      - name: Extract branch/tag name
        id: extract
        run: |
          ref_name=${GITHUB_REF#refs/*/}
          vm_name="tsb-${ref_name//./-}"
          echo "vm_name=$vm_name" >> $GITHUB_OUTPUT
          echo "ref_name=$ref_name" >> $GITHUB_OUTPUT

      - name: Run Ansible Playbook
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          GCP_SSH_PRIVATE_KEY: ${{ secrets.GCP_SSH_PRIVATE_KEY }}
          GCP_SSH_PUBLIC_KEY: ${{ secrets.GCP_SSH_PUBLIC_KEY }}
          GCP_PROJECT_ID: ${{ env.GCP_PROJECT_ID }}
          GCP_ZONE: ${{ env.GCP_ZONE }}
          VM_NAME: ${{ steps.extract.outputs.vm_name }}
          MACHINE_TYPE: ${{ env.MACHINE_TYPE }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          OWNER_LABEL: ${{ env.OWNER_LABEL }}
          TEAM_LABEL: ${{ env.TEAM_LABEL }}
          SSH_USER: ${{ env.SSH_USER }}
          TSB_SYNC_PASS: ${{ secrets.TSB_SYNC_PASS }}
          TSB_SYNC_USR: ${{ secrets.TSB_SYNC_USR }}
        run: |
          ansible-playbook -i localhost, ansible/playbook-create-vm.yaml
